.cards {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.cards header {
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 24px;
  background-color: transparent;
}

.cards header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.cards header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}
.cards header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}
.cards.japao {
  background: url(../img/card-japao.jpeg) no-repeat;
  background-size: cover;
}
.cards.san-andreas {
  background: url(../img/card-san-andreas.jpg) no-repeat;
  background-size: cover;
}
.cards.paraiba {
  background: url(../img/card-paraiba.jpeg) no-repeat;
  background-size: cover;
}
.cards.manaus {
  background: url(../img/card-manaus.jpeg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .cards {
    width: 588px;
    height: 308px;
  }
  .cards header h3 {
    font-size: 48px;
  }
  .cards header span {
    font-size: 40px;
  }
}
